
body{
    font-family: verdana, sans-serif
}
#fb,#tw,#lk{
    width: 50px;
    height: 100px;
    display: block;
    position: absolute;
}
#fb{
    background-image: url(fc.jpg);
    background-position: 0px;
}
